<header class="bg-blue-500 p-4 text-black-700" style="background-image: url('assets/images/Logo.png'); background-repeat: no-repeat; background-position: center; background-size: cover; background-color: rgba(40, 50, 199, 0.2);">
    <nav class="container mx-auto flex justify-between items-center relative z-50">
        <a href="/" class="font-bold text-xl relative z-20">Windu</a>
        <ul class="flex space-x-4 relative z-20">
            <li><a href="/pages/contact.html" class="hover:text-blue-200">Contact Me</a></li>
        </ul>
    </nav>
</header>
